.mb-0 {
    margin-bottom: 0;
}
.mt-0 {
    margin-top: 0;
}
.mr-1 {
    margin-right: var(--spacing);
}
.ml-1 {
    margin-left: var(--spacing);
}
.m-1 {
    margin: var(--spacing);
}

.color-primary {
    color: var(--color-primary);
}

.color-text-dark {
    color: var(--color-text-dark);
}

.color-text-light {
    color: var(--color-text-light);
}

.listings__header {
    width: 100%;
    border-bottom: 1px solid var(--color-borders);
}

.listings__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: var(--grid-gap);
    justify-items: center;
    align-items: stretch;
}

.listings__paragraph {
    display: flex;
    justify-content: space-between;
}

/* .listings__card {
} */

.oneline-truncated {
    width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.threelines-truncated {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.img-adjustemnt {
    width: 100%;
    height: 271.55px;
    object-fit: contain;
}

.listings__button {
    width: 70px;
    color: var(--color-text-dark);
    background-color: #d3e4e9;
    border: none;
    margin-left: var(--spacing);
    border-radius: .3rem;
    padding: .5rem .3rem;
    font-weight: bold;
}

@media (min-width: 350px) {
    /* mobile */
    .listings__grid {
        grid-template-columns: 1fr;
        gap: var(--spacing);
    }
    .img-adjustemnt {
        object-fit: cover;
    }
}

@media (min-width: 576px) {
    /* mobile */
    .listings__grid {
        grid-template-columns: 96%;
        gap: var(--spacing-x2);
    }
}

@media (min-width: 768px) {
    /* tablet */
    .listings__grid {
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-x3);
    }
}

@media (min-width: 800px) {
    /* tablet */
    .listings__grid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: var(--spacing-x4);
    }
}

@media (min-width: 1200px) {
    /* desktop */
    .listings__grid {
        gap: var(--grid-gap);
    }
}
